# Data Collection and Pre-Processing Lab Assignment

## Step 1: Hello, Data!

Load the raw CSV and display the first 3 rows.

In [6]:
import pandas as pd

# Load first 500 rows from your CSV (adjust path as needed)
df = pd.read_csv('100000 Sales Records.csv').head(500)
df.head(3)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Azerbaijan,Snacks,Online,C,10/8/2014,535113847,10/23/2014,934,152.58,97.44,142509.72,91008.96,51500.76
1,Central America and the Caribbean,Panama,Cosmetics,Offline,L,2/22/2015,874708545,2/27/2015,4551,437.20,263.33,1989697.20,1198414.83,791282.37
2,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Offline,M,12/9/2015,854349935,1/18/2016,9986,9.33,6.92,93169.38,69103.12,24066.26

## Step 2: Pick the Right Container

For transaction records, a Python class is most flexible: it allows attribute access and methods for cleaning and calculations. While `dict` or `namedtuple` can store data, only a class can encapsulate both data and behavior (e.g., `.clean()`, `.total()`).

In [7]:
from typing import Optional

class Transaction:
    def __init__(self, region, country, item_type, sales_channel, order_priority,
                 order_date, order_id, ship_date, units_sold, unit_price, unit_cost,
                 total_revenue, total_cost, total_profit):
        self.region = region
        self.country = country
        self.item_type = item_type
        self.sales_channel = sales_channel
        self.order_priority = order_priority
        self.order_date = order_date
        self.order_id = order_id
        self.ship_date = ship_date
        self.units_sold = float(units_sold)
        self.unit_price = float(unit_price)
        self.unit_cost = float(unit_cost)
        self.total_revenue = float(total_revenue)
        self.total_cost = float(total_cost)
        self.total_profit = float(total_profit)

    def clean(self):
        # Example cleaning: fix negative units or prices
        if self.units_sold < 0:
            self.units_sold = abs(self.units_sold)
        if self.unit_price < 0:
            self.unit_price = abs(self.unit_price)

    def total(self):
        # Calculate total revenue
        return self.units_sold * self.unit_price

## Step 4: Bulk Loader

Define a function to load transactions from the DataFrame.

In [13]:
from typing import List

def load_transactions(df: pd.DataFrame) -> List[Transaction]:
    transactions = []
    for _, row in df.iterrows():
        t = Transaction(
            row['Region'], row['Country'], row['Item Type'], row['Sales Channel'],
            row['Order Priority'], row['Order Date'], row['Order ID'],
            row['Ship Date'], row['Units Sold'], row['Unit Price'],
            row['Unit Cost'], row['Total Revenue'], row['Total Cost'],
            row['Total Profit']
        )
        transactions.append(t)
    return transactions

transactions = load_transactions(df)
print(f"Loaded {len(transactions)} transactions.")

Loaded 500 transactions.

## Step 5: Quick Profiling

Show min, mean, max unit price, and unique shipping countries.

In [14]:
unit_prices = [t.unit_price for t in transactions]
print("Min unit price:", min(unit_prices))
print("Mean unit price:", sum(unit_prices)/len(unit_prices))
print("Max unit price:", max(unit_prices))

unique_countries = set(t.country for t in transactions)
print("Unique countries:", len(unique_countries))

Min unit price: 9.33
Mean unit price: 278.65074
Max unit price: 668.27
Unique countries: 173

## Step 6: Spot the Grime

Identify at least three dirty data cases:
- Missing or NaN values in key fields
- Negative or zero units sold
- Inconsistent country or region names

In [15]:
import numpy as np

# Example checks
missing_units = sum(pd.isna(t.units_sold) for t in transactions)
negative_units = sum(t.units_sold <= 0 for t in transactions)
missing_country = sum(pd.isna(t.country) or t.country.strip() == '' for t in transactions)

print("Missing units sold:", missing_units)
print("Negative or zero units sold:", negative_units)
print("Missing country:", missing_country)

Missing units sold: 0
Negative or zero units sold: 0
Missing country: 0

## Step 7: Cleaning Rules

Apply fixes inside `.clean()` and show before/after counts.

In [16]:
# Before cleaning
neg_before = sum(t.units_sold < 0 for t in transactions)

# Apply cleaning
for t in transactions:
    t.clean()

neg_after = sum(t.units_sold < 0 for t in transactions)
print(f"Negative units before: {neg_before}, after cleaning: {neg_after}")

Negative units before: 0, after cleaning: 0

## Step 8: Transformations

Example: Standardize region names (title case), parse order dates.

In [17]:
from datetime import datetime

for t in transactions:
    t.region = t.region.title()
    try:
        t.order_date = datetime.strptime(str(t.order_date), '%m/%d/%Y')
    except Exception:
        pass  # Keep as string if parsing fails

## Step 9: Feature Engineering

Add days between order and ship date.

In [18]:
for t in transactions:
    try:
        order_dt = datetime.strptime(str(t.order_date), '%m/%d/%Y')
        ship_dt = datetime.strptime(str(t.ship_date), '%m/%d/%Y')
        t.days_to_ship = (ship_dt - order_dt).days
    except Exception:
        t.days_to_ship = None

# Add to DataFrame for later serialization
df['days_to_ship'] = [t.days_to_ship for t in transactions]

## Step 10: Mini-Aggregation

Revenue per country.

In [19]:
country_revenue = {}
for t in transactions:
    country_revenue[t.country] = country_revenue.get(t.country, 0) + t.total()

import pprint
pprint.pprint(country_revenue)

{'Afghanistan': 7819032.05,
 'Albania': 2945119.52,
 'Algeria': 55401.54,
 'Andorra': 6059368.199999999,
 'Angola': 5549949.82,
 'Antigua and Barbuda ': 1357081.78,
 'Armenia': 191709.16999999998,
 'Australia': 5199088.3100000005,
 'Azerbaijan': 1428752.1199999999,
 'Bahrain': 363738.5,
 'Bangladesh': 1146965.36,
 'Barbados': 711214.4600000001,
 'Belarus': 3654833.07,
 'Belgium': 1141909.35,
 'Belize': 16492580.69,
 'Benin': 10864269.61,
 'Bhutan': 5143785.3,
 'Bosnia and Herzegovina': 2292584.95,
 'Botswana': 1386599.6,
 'Bulgaria': 9353285.2,
 'Burkina Faso': 5075869.49,
 'Burundi': 11232361.469999999,
 'Cambodia': 3052016.91,
 'Cameroon': 1367529.5999999999,
 'Canada': 2827749.89,
 'Cape Verde': 465682.89999999997,
 'Central African Republic': 2767841.4899999998,
 'Chad': 163888.17,
 'China': 7675524.680000001,
 'Comoros': 1298587.2400000002,
 'Costa Rica': 5268171.8,
 "Cote d'Ivoire": 2831622.79,
 'Croatia': 12239482.23,
 'Cuba': 1927615.41,
 'Cyprus': 3233638.98,
 'Czech Republic': 6285173.210000001,
 'Democratic Republic of the Congo': 793940.1499999999,
 'Denmark': 3577822.4,
 'Djibouti': 966464.46,
 'Dominica': 8444218.290000001,
 'Dominican Republic': 4858691.98,
 'East Timor': 2250361.26,
 'Egypt': 5973895.87,
 'El Salvador': 1354266.9,
 'Equatorial Guinea': 3325604.7199999997,
 'Eritrea': 1430954.35,
 'Estonia': 2578284.3200000003,
 'Ethiopia': 816216.01,
 'Federated States of Micronesia': 47965.53,
 'Fiji': 48571.98,
 'Finland': 4328885.28,
 'France': 7471674.190000001,
 'Gabon': 3064692.67,
 'Georgia': 15561823.900000002,
 'Germany': 3874540.4299999997,
 'Ghana': 1188405.77,
 'Greece': 3419652.14,
 'Greenland': 479889.98,
 'Grenada': 3023597.74,
 'Guinea': 6933710.800000001,
 'Guinea-Bissau': 5399730.859999999,
 'Haiti': 466268.99,
 'Hungary': 208946.4,
 'Iceland': 1561347.7000000002,
 'India': 2138179.76,
 'Indonesia': 3910178.91,
 'Iran': 1820380.55,
 'Iraq': 4161854.9200000004,
 'Ireland': 1803707.73,
 'Israel': 8937981.709999999,
 'Italy': 6314154.19,
 'Japan': 628826.61,
 'Jordan': 6558232.5,
 'Kazakhstan': 2147889.01,
 'Kenya': 1224833.44,
 'Kiribati': 1307000.28,
 'Kosovo': 14356654.490000002,
 'Kuwait': 4919357.66,
 'Kyrgyzstan': 2261730.2600000002,
 'Laos': 1647472.36,
 'Latvia': 1657788.32,
 'Lebanon': 7272926.64,
 'Lesotho': 7574158.229999999,
 'Liberia': 47450.0,
 'Libya': 8022469.6899999995,
 'Lithuania': 1010279.71,
 'Luxembourg': 4081348.81,
 'Macedonia': 3288426.96,
 'Madagascar': 920046.3200000001,
 'Malawi': 3727123.8,
 'Maldives': 6256243.9,
 'Mali': 6355158.390000001,
 'Malta': 4201345.35,
 'Marshall Islands': 3581806.16,
 'Mauritania': 2734241.23,
 'Mauritius ': 9532507.21,
 'Mexico': 1638119.9500000002,
 'Moldova ': 2764979.96,
 'Monaco': 7955260.27,
 'Mongolia': 3794905.03,
 'Montenegro': 5616165.46,
 'Morocco': 1697519.74,
 'Mozambique': 10754096.31,
 'Myanmar': 1744752.3000000003,
 'Namibia': 2973108.2800000003,
 'Nauru': 169254.15000000002,
 'Nepal': 600929.12,
 'Netherlands': 9332229.93,
 'Nicaragua': 1562497.2,
 'Niger': 1598425.59,
 'North Korea': 91455.87000000001,
 'Norway': 7972290.609999999,
 'Oman': 34996.83,
 'Pakistan': 2433828.8200000003,
 'Palau': 2141091.75,
 'Panama': 12292754.37,
 'Papua New Guinea': 6756075.29,
 'Philippines': 1974436.26,
 'Poland': 2323341.92,
 'Portugal': 1311359.56,
 'Qatar': 96133.70000000001,
 'Republic of the Congo': 7503325.02,
 'Romania': 1673091.6,
 'Russia': 4214681.1,
 'Rwanda': 1350019.23,
 'Saint Kitts and Nevis ': 8268168.680000001,
 'Saint Lucia': 70413.51,
 'Saint Vincent and the Grenadines': 1039033.49,
 'Samoa ': 871872.7,
 'San Marino': 713726.16,
 'Sao Tome and Principe': 838383.52,
 'Saudi Arabia': 7995419.429999999,
 'Senegal': 1452803.31,
 'Serbia': 79734.18000000001,
 'Sierra Leone': 2881823.41,
 'Singapore': 1666978.4,
 'Slovakia': 9201330.719999999,
 'Slovenia': 3266795.4699999993,
 'Solomon Islands': 174995.6,
 'Somalia': 2191631.95,
 'South Africa': 2657905.89,
 'South Korea': 6637174.68,
 'South Sudan': 5876830.869999999,
 'Spain': 3683653.2,
 'Sri Lanka': 1149788.1,
 'Sudan': 3271811.2600000002,
 'Swaziland': 1316163.51,
 'Sweden': 2926702.63,
 'Switzerland': 3872955.7399999998,
 'Syria': 2159520.9899999998,
 'Taiwan': 1035974.4,
 'Tajikistan': 1569416.1,
 'Tanzania': 4704992.25,
 'Thailand': 8233031.89,
 'The Bahamas': 10675772.149999999,
 'The Gambia': 1038154.3200000001,
 'Togo': 900685.76,
 'Tonga': 3022852.06,
 'Trinidad and Tobago': 83111.64,
 'Tunisia ': 8715419.74,
 'Turkey': 5296390.399999999,
 'Turkmenistan': 7505699.04,
 'Tuvalu': 6455761.4,
 'Uganda': 10804564.430000002,
 'Ukraine': 6464989.18,
 'United Arab Emirates': 8357436.739999999,
 'United Kingdom': 6146250.37,
 'United States of America': 3404791.1799999997,
 'Uzbekistan': 5641091.1899999995,
 'Vatican City': 2939051.46,
 'Vietnam': 1986791.4,
 'Zambia': 1705954.4,
 'Zimbabwe': 16980.6}

## Step 11: Serialization Checkpoint

Save cleaned data to JSON and Parquet.

In [23]:
import pyarrow as pa
import pyarrow.parquet as pq

# Convert to DataFrame for serialization
cleaned_df = pd.DataFrame([t.__dict__ for t in transactions])
cleaned_df.to_json('100000 Sales Records.csv', orient='records', lines=True)

table = pa.Table.from_pandas(cleaned_df)
pq.write_table(table, 'cleaned_transactions.parquet')

## Step 12: Soft Interview Reflection

Using OOP allowed me to encapsulate both data and cleaning logic in a single, reusable structure. This made it easy to apply transformations and feature engineering consistently across all records, improving maintainability and readability.

## Data Dictionary

| Field         | Type    | Description                                 | Source         |
|---------------|---------|---------------------------------------------|----------------|
| region        | string  | Geographical region                         | sales CSV      |
| country       | string  | Country of transaction                      | sales CSV      |
| item_type     | string  | Type of item sold                           | sales CSV      |
| sales_channel | string  | Online or offline sales                     | sales CSV      |
| order_priority| string  | Order priority code                         | sales CSV      |
| order_date    | date    | Date of order                               | sales CSV      |
| order_id      | string  | Unique order identifier                     | sales CSV      |
| ship_date     | date    | Date order was shipped                      | sales CSV      |
| units_sold    | float   | Number of units sold                        | sales CSV      |
| unit_price    | float   | Price per unit                              | sales CSV      |
| unit_cost     | float   | Cost per unit                               | sales CSV      |
| total_revenue | float   | Total revenue for the order                 | sales CSV      |
| total_cost    | float   | Total cost for the order                    | sales CSV      |
| total_profit  | float   | Total profit for the order                  | sales CSV      |
| days_to_ship  | int     | Days between order and shipping             | engineered     |